
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <h2>Circulm Vitae</h2>
    <a href="#">vacancy <span class="badge">5</span></a>
    <br>
    <a href="#">jobs <span class="badge">10</span></a>
    <br>
    <a href="#">Updates <span class="badge">2</span></a>
    <br /><br />


    <div class="">
        <span class="label label-default">jobs</span>
        <span class="label label-primary">career</span>
        <span class="label label-success">vacancy</span>
        <span class="label label-info">app dev</span>
        <span class="label label-warning">circulm vitae</span>
        <span class="label label-danger">experience</span>
    </div>
</div>

<div class="col-lg-4">
    <div><h3 class="glyphicon glyphicon-object-align-left glyphicon-check"> Web Development </h3></div>
    <div><p>HTML, CSS, JavaScrpit, Bootstrap, Wordpress, dotnet </p></div>
    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</small>
    <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80"
             aria-valuemin="0" aria-valuemax="100" style="width:80%">
            80% Complete
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div><h3 class="glyphicon glyphicon-object-align-left glyphicon-check"> App Development </h3></div>
    <div><p>Android App Developement & iOS App Developement (Flutter)</p></div>
    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</small>
    <div class="progress">
        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="90"
             aria-valuemin="0" aria-valuemax="100" style="width:90%">
            90% Complete
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div><h3 class="glyphicon glyphicon-apple "> Blockchain Development </h3></div>
    <div><p>Solidity, Hyperloop, Ethereum </p></div>
    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</small>
    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="50"
             aria-valuemin="0" aria-valuemax="100" style="width:50%">
            50% Complete
        </div>
    </div>
</div>



@*Progressbar*@
@*Glyphicon
    Labels/Badges*@